@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&family=Poppins:wght@100;300;500;600;700&family=Varela+Round&display=swap');

* {
    padding: 0;
    margin: 0;
  }
  
  body {
    width: 100vw;
    display: flex;
    justify-content: center;
    background: #3D405B;
    font-family: 'Poppins', sans-serif;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  ul {
    list-style-type: none; /* get rid of bullet points on side of list items */
  }
  
  /* common style ends */

  #bar {
    position: fixed;
    width: 100vw;
    height: 10px;
    background-color: #81B29A;
    z-index: 1000;
  }
  
  /* container */
  .container {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin: 25% 0 25% 0;
  }
  
  h1 {
    color: #F4F1DE;
    font-size: 3rem;
  }

  h4 {
    color: #8b8da8;
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
  }
  
  /* todo-form */
  
  .todo-form {
    margin: 40px 0px;
  }
  
  .todo-input {
    width: 250px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    font-size: 1rem;
    font-family: 'Nunito';
  }
  
  .add-button {
    color: #2a2d46;
    background-color: #81B29A;
    border: none;
    outline: none;
    font-family: 'Nunito';
    border-radius: 5px;
    padding: 8.9px;
    font-weight: 700;
    font-size: 1rem;
  }

  #screen-too-big {
    display: none;
  }

  @media screen and (max-width: 375px) {
    .todo-input {
      width: 200px;
    }
  }

  @media screen and (max-width: 330px) {
    .todo-input {
      width: 180px;
    }
  }

  @media screen and (min-width: 700px) {
    #screen-too-big {
      text-align: center;
      display: flex;
      position: absolute;
      top: 0;
      width: 100vw;
      height: 100vh;
      background-color: #3D405B;
      left: 0;
      justify-content: center;
      flex-direction: column;
      z-index: 200;
    }

    #screen-too-big p {
      color: #F4F1DE;
      font-size: 1.1rem;
      line-height: 1.8em;
      margin-top: 2%;
    }

    .container {
      display: none;
    }
  }
  
  /* todo-form style ends */
  
  /* todo-items */
  .todo-items {
    margin-top: 5%;
    min-width: 94%;
    margin-bottom: 5%;
  }
  
  /* each li with class="item" */
  .item {
    background-color: #4d506d;
    font-family: 'Nunito';
    color: #F4F1DE;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 500;
  }
  
  .item:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  
  .item:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  
  /* item style end */
  
  .checkbox {
    margin-right: 10px;
  }
  
  .delete-button {
    float: right;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #E07A5F;
    font-family: 'Varela Round', sans-serif;
    color: #532417;
    width: 25px;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 7px;
    font-size: 1.4rem;
    font-weight: 550;
  }
  
  /* applied when the todo item is checked */
  .checked { 
    text-decoration: line-through;
    color: #2a2d46;
  }
  
  /* todo-items style ends */
  
  /* container style ends */

  /* Medaljer */
  #medalholder {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 100%;
  }

  #medalholder * {
    opacity: 1;
    margin-right: 5%;
  }

  .medalcontainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    width: 18%;
    color: #8b8da8;
    justify-content: center;
  }

  .medalcontainer span {
    padding-top: 8%;
  }

  .filledtext {
    color: #d1a55f;
    animation: medal 0.35s ease;
  }

  .unfilled  {
    text-align: center;
    width: 50px;
    background-color: #2a2d46;;
    font-size: 2rem;
    font-weight: 600;
    border: 5px inset #2a2d46;;
    border-radius: 50%;
    color: #2a2d46;;
  }

  .filledin {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 50px;
    height: 50px;
    background-color: #d1a55f;
    font-size: 1.85rem;
    border: 5px outset #886a3a;
    border-radius: 50%;
    color: #644514;
    animation: medal 0.4s ease;
  }

  @keyframes medal {
    0% {opacity: 0; transform: scale(1.2);}
    30% {opacity: 1; transform: scale(0.8);}
    100% {opacity: 1; transform: scale(1);}
  }

  /* Points */
  .section-title {
    margin-top: 5%;
    color: #8b8da8;
  }
  #pointholder {
    font-size: 3em;
    font-weight: 600;
    color: #F4F1DE;
  }

  /* Achievements */

  #achievement-container {
    box-sizing: border-box;
    font-size: 0.9rem;
    padding: 7% 3% 3% 3%;
    position: fixed;
    top: 0.5%;
    background-color: #8b8da8;
    color: #2a2d46;
    width: 100vw;
    height: 6.5em;
    transform: translateY(-100px);
    /*animation-name: achievement-in;*/
    animation-fill-mode: forwards;
    border-radius: 0px 0px 10px 10px;
  }

  @keyframes achievement-in {
    0% {transform: translateY(-100px);}
    40% {transform: translateY(5px);}
    100% {transform: translateY(-5px);}
  }

  @keyframes achievement-out {
    0% {transform: translateY(-0px);}
    100% {transform: translateY(-100px);}
  }